.team-component {
    padding: 0px ($grid-gutter-width / 2);

    .team-member {
        margin: ($grid-gutter-width * 2) 0px;
        text-align: center;

        h2, h1 {
            text-transform: uppercase;
        }

        h2 {
            @extend .title-copy-1;
            margin: 0px;
        }

        h1 {
            @extend .title-copy-2;
            margin: 10px 0px ($grid-gutter-width / 2) 0px;
        }

        p {
            @extend .body-copy;
            margin: 0px auto;
            max-width: $max-body-text;

            &:after {
                content: "";
                margin: $grid-gutter-width auto 0px auto;
                display: block;
                width: 50px;
                height: $divider-block-height;
                background-color: $c-text;
            }
        }
    }
}
