body {
    @include font-regular;
    overflow-y: scroll;
    background-color: $c-bg;
    color: $c-text;
}

a {
    color: $c-text;

    &:hover, &:focus {
        color: $c-text;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
