.title-copy-1, .title-copy-2, .title-copy-3 {
    text-transform: uppercase;
}

.title-copy-1 {
    @include font-regular;
    font-size: 20px;

    @media (max-width: $screen-xs-max) {
        font-size: 16px;
    }
}

.title-copy-2 {
    @include font-bold;
    font-size: 36px;

    @media (max-width: $screen-xs-max) {
        font-size: 28px;
    }
}

.title-copy-3 {
    @include font-bold;
    font-size: 22px;

    @media (max-width: $screen-xs-max) {
        font-size: 18px;
    }
}

.body-copy {
    @include font-light;
    color: $c-text-grey;
    font-size: 15px;
}
