.contact-registration-component {
    margin-top: $grid-gutter-width;

    .submitted-message {
        display: none;
    }

    form {
        position: relative;
        margin-bottom: 0px;
        width: 100%;

        fieldset {
            position: relative;
            width: 100%;
            max-width: $contact-registation-width;
            padding-bottom: 10px;

            .field {
                padding-bottom: 5px;
            }

            .hs-form-field {
                position: relative;

                .hs-error-msgs {
                    position: absolute;

                    label {
                        font-size: 12px;

                        @media (max-width: $screen-mobile-max) {
                            font-size: 10px;
                        }
                    }
                }

                &:not(.hs-fieldtype-select) .hs-error-msgs {
                    top: 0px;
                    right: 5px;
                    padding: 0px;

                    label {
                        text-align: right;
                    }
                }

                &.hs-fieldtype-select .hs-error-msgs {
                    top: calc(100% - 3px);
                    left: -3px;
                    margin-top: 5px;
                }
            }

            label .hs-form-required {
                display: inline-block;
                padding-left: 1px;
            }

            input {
                @include font-bold;
                max-width: $contact-registation-width;
                font-size: 14px;

                &:focus {
                    box-shadow: none;
                }

                &:not([type="radio"]) {
                    width: calc(100% - 10px) !important;
                    padding: 5px;
                    border: 1px solid $dark;
                    border-radius: 0px;
                    background-color: $white;
                    transition: border-color 100ms, background-color 100ms;
                    -webkit-appearance: none;

                    &:focus {
                        border: 1px solid lighten($dark, 3%);
                        background-color: darken($white, 5%);
                    }
                }
            }

            .hs-form-radio-display {
                cursor: pointer;

                input, span {
                    display: inline-block;
                }

                input {
                    width: auto;
                }

                span {
                    transform: translateY(-3px);
                }
            }

            select {
                width: 100% !important;
                max-width: $contact-registation-width !important;
            }
        }

        .hs_error_rollup {
            position: absolute;
            top: 100%;
            left: 0px;
            width: 100%;

            .hs-error-msgs {
                padding-left: 0px;
            }

            label {
                text-align: center;
                text-transform: uppercase;
            }
        }

        .hs_submit .actions {
            margin-bottom: 0px;

            input {
                margin: auto;
                display: block;
                width: 160px;
                height: 25px;
                padding: 7px 28px;
                border: 2px solid $c-text;
                border-radius: 0px;
                box-shadow: none;
                background: transparent;
                color: $c-text;
                font-size: 20px;
                line-height: 30px;
                text-align: right;
                text-transform: uppercase;
                text-shadow: none;
                transition: background-color 150ms;

                &:hover, &:focus, &:active {
                    border: 2px solid $c-text !important;
                    box-shadow: none;
                    background: fade-out($black, 0.9) !important;
                }
            }
        }
    }
}
